<!DOCTYPE HTML>
<html>

<head>
  <script>

    window.onload = function () {
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
          text: "Series Chart"
        },
        axisX: {
          title: "Years",
          titleFontColor: "red",
          titleFontSize: 30,
          titleFontWeight: "bold",
          includeZero: false,
          margin: 10,
          labelAutoFit: true,
          minimum: 1990,
          maximum: 2003,
          interval: 1,
          tickColor: "brown",
          tickLength: 5,
          tickThickness: 5,
          scaleLineColor: "transparent",
          gridThickness: 0
        },
        axisY: {
          title: "Values",
          titleFontColor: "blue",
          titleFontSize: 15,
          titleFontWeight: "bold",
          includeZero: false,
          margin: 10,
          labelAutoFit: true,
          minimum: 10,
          maximum: 120,
          interval: 10,
          gridThickness: 0
        },
        legend: {
          cursor: "pointer",
          fontSize: 15,
          horizontalAlign: "right", // "center" , "right"
          verticalAlign: "top",
          itemclick: toggleDataSeries
        },
        toolTip: {
          shared: true
        },
        data: JSON.parse('<%- data %>')
      });
      chart.render();

      function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
        }
        else {
          e.dataSeries.visible = true;
        }
        chart.render();
      }

    }
  </script>
</head>

<body>
  <div id="chartContainer" style="height: 600px; width: 100%;"></div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>