<html>

<head>
  <title>Fission Labs Demo Project</title>
</head>
<body>
  <h2>Upload CSV file for Graph</h2>
  <br/>
  <form action="http://localhost:3000/uploadCSV" method="post" enctype="multipart/form-data">
    <input type="file" name="file" placeholder="Upload CSV File" />
    <br/>
    <br/>
    <input type="submit" />
  </form>
</body>
</html>