.chart-container1 {
    width:  40%;
    height: 250px;
    margin: 0 auto;
  }
  .chart-container2 {
    width:  40%;
    height: 250px;
    margin: 0 auto
  }
  .chart-container3 {
    width:  40%;
    height: 250px;
    margin: 0 auto;
  }
  .chart-container4 {
    width:  40%;
    height: 250px;
    margin: 0 auto;
  }